@import url('sidebar-pane.css');
@import url('box.css');
@import url('main-pane.css');

body{
    background-color: rgb(234, 234, 234);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row > div{
    padding: 0.4em;
}

hr {
    color: white; 
    border-top: 1px solid white; 
    height: 1px; 
    margin: 0.5em 0.5em; 
}