@import url('font.css');
@import url('sidebar-pane.css');
@import url('box.css');
@import url('main-pane.css');
@import url('loading.css');
@import url('map.css');

body{
    background-color: rgb(234, 234, 234);
    font-family: 'lincoln', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row > div{
    padding: 0.4em;
}

hr {
    color: white; 
    border-top: 1px solid white; 
    height: 1px; 
    margin: 0.5em 0.5em; 
}

#logoLincolnContainer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 3em);
    left: 3em;
    padding: .5em 0;
    background-color: #eaeaeae3;
    z-index: 1;
}
#logoLincoln{
    width: 8em;
}
#imgMain{
    width: calc(100% + 30px);
    height: 30vh;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(130%);
    opacity: 0.7;
    margin-left: -15px;
    border-bottom: 1px solid #233243;
}

#titleMain{
    font-size:4em;
    line-height: 1em;
    background-color: #eaeaea;
    padding: 0.1em 0.25em;
    display: inline-block;
    color: #42576c;
}
#titleContainerMain{
    position: absolute;
    height: 4em;
    width: calc(100% - 3em);
    left: 3em;
    text-align: center;
    margin-top: -2.4em;
}

#arr_tonnage_check_container{
    position: absolute;
    z-index: 1;
    width: 100%;
    font-size: 0.75em;
    line-height: 1em;
    padding-top: 0.5em;
}
#arr_tonnage_check_container > input {
    height: 1em;
    margin-top:0;
}