.leaflet-container {
    height: 100%;
    border-radius: inherit;
    z-index:0;
    font-family: inherit;
}
/*
#map_arr .info, #map_iris .info {
    margin:0.5em;
    padding:0.5em;
    border:1px solid grey;
    background-color: rgba(255,255,255,0.7);
    border-radius: 0.2em;
    font-size: 1.2em;
}
*/
.legend, .info{
    font-family: inherit;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 0.5em;
   
}
.legend{
     opacity: 0.5;
    transition: opacity 0.2s ease;
}
.legend:hover{
           opacity: 1;
}


#map_arr_select_container,
#map_iris_select_container,
#map_detail_select_container {
    position: absolute;
    margin: 0.5em;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

#map_arr_select_container:hover,
#map_iris_select_container:hover,
#map_detail_select_container:hover{
       opacity: 1;
}

#map_arr_select_container > svg,
#map_iris_select_container > svg,
#map_detail_select_container > svg{
    width:1em;
}

.leaflet-div-icon {
    border: none;
    background: none;
    text-align: center;
}
.leaflet-div-icon svg {
    color: #42566b;
    font-size: 30px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}